<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.springex.mapper.TodoMapper">

    <select id="getTime" resultType="string">
        select now()
    </select>

    <!--등록-->
    <insert id="insert">
        INSERT INTO tbl_todo(title, dueDate, writer) VALUES(#{title}, #{dueDate}, #{writer})
    </insert>

    <!--전체 조회-->
    <select id="selectAll" resultType="org.zerock.springex.domain.TodoVO">
        SELECT * FROM tbl_todo ORDER BY tno DESC
    </select>

    <!--단건 조회-->
    <select id="selectOne" resultType="org.zerock.springex.domain.TodoVO">
        SELECT * FROM tbl_todo WHERE tno = #{tno}
    </select>

    <!--삭제-->
    <delete id="delete">
        DELETE FROM tbl_todo WHERE tno = #{tno}
    </delete>

    <!--수정-->
    <update id="update">
        UPDATE tbl_todo SET title = #{title}, dueDate = #{dueDate}, finished = #{finished} WHERE tno = #{tno}
    </update>
</mapper>