<component name="ArtifactManager">
  <artifact type="exploded-war" name="springex.main:Web Gradle : springex-1.0-SNAPSHOT.war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springex_main_Web_Gradle___springex_1_0_SNAPSHOT_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springex.main/web/Web Gradle : springex-1.0-SNAPSHOT.war" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="javaee-facet-classes" facet="springex.main/web/Web Gradle : springex-1.0-SNAPSHOT.war" />
        </element>
      </element>
      <element id="library" level="project" name="Gradle: com.fasterxml:classmate:1.5.1" />
      <element id="library" level="project" name="Gradle: com.zaxxer:HikariCP:5.0.1" />
      <element id="library" level="project" name="Gradle: jakarta.validation:jakarta.validation-api:2.0.2" />
      <element id="library" level="project" name="Gradle: javax.servlet:javax.servlet-api:4.0.1" />
      <element id="library" level="project" name="Gradle: jstl:jstl:1.2" />
      <element id="library" level="project" name="Gradle: org.apache.logging.log4j:log4j-api:2.17.2" />
      <element id="library" level="project" name="Gradle: org.apache.logging.log4j:log4j-core:2.17.2" />
      <element id="library" level="project" name="Gradle: org.apache.logging.log4j:log4j-slf4j-impl:2.17.2" />
      <element id="library" level="project" name="Gradle: org.apiguardian:apiguardian-api:1.1.2" />
      <element id="library" level="project" name="Gradle: org.hibernate.validator:hibernate-validator:6.2.1.Final" />
      <element id="library" level="project" name="Gradle: org.jboss.logging:jboss-logging:3.4.1.Final" />
      <element id="library" level="project" name="Gradle: org.junit.jupiter:junit-jupiter-api:5.8.2" />
      <element id="library" level="project" name="Gradle: org.junit.jupiter:junit-jupiter-engine:5.8.2" />
      <element id="library" level="project" name="Gradle: org.junit.platform:junit-platform-commons:1.8.2" />
      <element id="library" level="project" name="Gradle: org.junit.platform:junit-platform-engine:1.8.2" />
      <element id="library" level="project" name="Gradle: org.mariadb.jdbc:mariadb-java-client:3.0.3" />
      <element id="library" level="project" name="Gradle: org.modelmapper:modelmapper:3.0.0" />
      <element id="library" level="project" name="Gradle: org.mybatis:mybatis-spring:2.0.7" />
      <element id="library" level="project" name="Gradle: org.mybatis:mybatis:3.5.9" />
      <element id="library" level="project" name="Gradle: org.opentest4j:opentest4j:1.2.0" />
      <element id="library" level="project" name="Gradle: org.projectlombok:lombok:1.18.24" />
      <element id="library" level="project" name="Gradle: org.slf4j:slf4j-api:1.7.30" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-aop:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-beans:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-context:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-core:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-expression:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-jcl:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-jdbc:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-test:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-tx:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-web:5.3.19" />
      <element id="library" level="project" name="Gradle: org.springframework:spring-webmvc:5.3.19" />
    </root>
  </artifact>
</component>